In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [5]:
closed_deal_df=pd.read_csv("clean/closed_deals.csv")
closed_deal_df

,mql_id,business_segment,business_type,seller_id,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,pet,reseller,2c43fb513632d29b3b58df74816f1b06,0
1,a555fb36b9368110ede0f043dfc3b9a0,car_accessories,reseller,bbb7d7893a450660432ea6652310ebb7,0
2,327174d3648a2d047e8940d7d15204ca,home_appliances,reseller,612170e34b97004b3ba37eae81836b4c,0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,food_drink,reseller,21e1781e36faf92725dde4730a88ca0f,0
4,ffe640179b554e295c167a2f6be528e0,home_appliances,manufacturer,ed8cb7b190ceb6067227478e48cf8dde,0
...,...,...,...,...,...
837,df9a2abe2ad3f2d8758b675ac8331ecf,home_decor,reseller,bfcc27719640628da877db48b672b169,0
838,8723201570415eb23b4f095d8c20a27c,construction_tools_house_garden,reseller,4a82eab98441aeb64566e2776c1fb2b6,200000
839,2e57665b8faf05c967a801eb5aedfa0a,computers,reseller,55031883943971ca22db6894574cfe2c,0
840,40955be51cc85c5a5a6cdd12b19e9f10,pet,reseller,c0e933c238e41f0cd459d6025ee9b364,0
841,8a6492305a5fbcdcdd1a7f5a90764c07,household_utilities,manufacturer,1bba9c94eb5c4e82fba9f7286fe81025,0

In [4]:
closed_deal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_value  103886 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [27]:
closed_deal_df.business_type.unique()

array(['reseller', 'manufacturer', 'other'], dtype=object)

In [28]:
closed_deal_df["business_type"].value_counts()

reseller        587
manufacturer    242
other            13
Name: business_type, dtype: int64

In [29]:
closed_deal_df["business_type"]=closed_deal_df["business_type"].fillna("other")

In [30]:
closed_deal_df["business_type"].value_counts()

reseller        587
manufacturer    242
other            13
Name: business_type, dtype: int64

In [36]:
closed_deal_df["business_segment"].isna().sum()

1

In [39]:
closed_deal_df["declared_monthly_revenue"].unique()

0           797
100000        5
20000         3
30000         3
10000         3
25000         3
15000         2
120000        2
50000         2
60000         2
300000        2
5000          2
250000        2
210000        1
8000000       1
40000         1
50000000      1
4000          1
150000        1
6             1
1000          1
180000        1
500000        1
130000        1
6000          1
8000          1
200000        1
Name: declared_monthly_revenue, dtype: int64

In [54]:
closed_deal_df["declared_monthly_revenue"].unique()

array([       0,   100000,    20000,     6000,   180000,    30000,
              6,   150000,    10000,    25000, 50000000,   210000,
          15000,   250000,  8000000,    40000,     5000,     4000,
         300000,    60000,     1000,    50000,   500000,   130000,
         120000,     8000,   200000])

In [55]:
customers_df=pd.read_csv("clean/customers.csv")
customers_df

,customer_id,customer_city,customer_state,customer_zip_code_prefix
0,06b8999e2fba1a1fbc88172c00ba8bc7,franca,SP,14409
1,18955e83d337fd6b2def6b18a428ac77,sao bernardo do campo,SP,9790
2,4e7b3e00288586ebd08712fdd0374a03,sao paulo,SP,1151
3,b2b6027bc5c5109e529d4dc6358b12c3,mogi das cruzes,SP,8775
4,4f2d8ab171c80ec8364f7c12e35b23ad,campinas,SP,13056
...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,sao paulo,SP,3937
99437,e7b71a9017aa05c9a7fd292d714858e8,taboao da serra,SP,6764
99438,5e28dfe12db7fb50a4b2f691faecea5e,fortaleza,CE,60115
99439,56b18e2166679b8a959d72dd06da27f9,canoas,RS,92120
99440,274fa6071e5e17fe303b9748641082c8,cotia,SP,6703

In [58]:
customers_df["customer_city"].isna().sum()

0

In [61]:
customers_df["customer_city"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 99441 entries, 0 to 99440
Series name: customer_city
Non-Null Count  Dtype
--------------  -----
99441 non-null  object
dtypes: object(1)
memory usage: 777.0+ KB

In [62]:
customers_df["customer_state"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 99441 entries, 0 to 99440
Series name: customer_state
Non-Null Count  Dtype
--------------  -----
99441 non-null  object
dtypes: object(1)
memory usage: 777.0+ KB

In [63]:
customers_df["customer_zip_code_prefix"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 99441 entries, 0 to 99440
Series name: customer_zip_code_prefix
Non-Null Count  Dtype
--------------  -----
99441 non-null  int64
dtypes: int64(1)
memory usage: 777.0 KB

In [ ]:
closed_deal_df