In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [20]:
file = pd.read_csv('clean/order_customer_item_paid.csv')

In [21]:
file

,order_id,customer_city,customer_id,price,freight_value,final_price
0,f11b36b3bc7bacf06deef862ed611f02,guaruja,ae8db0691449a44352e7d535ddf78c5e,109.90,14.86,124.76
1,0daf1f0e67b534ad873ba61c5d6ad7d3,rio de janeiro,1681471e9172d7e12ba08e9ac9e8628b,135.00,18.20,153.20
2,4a5cc9b4e332e03d76bf553a7f2fa5d3,belford roxo,a4a00c41b5e3ed88bf0e0bb96576c2b2,159.90,16.88,176.78
3,47770eb9100c2d0c44946d9cf07ec65d,vianopolis,41ce2a54c0b03bf3443c3d931a367089,159.90,19.22,179.12
4,5f69f6bf68dce110479aa0bb515b47c8,ribeirao pires,4cd274ce8ba240b1cff6480fa9911df1,30.00,8.72,38.72
...,...,...,...,...,...,...
111380,b73095e1b4a660f696d90a6f5446b58c,cotia,f6f53faac556fb2d6b5f26f80317fe3c,55.99,8.72,64.71
111381,c205abf27ff07fddd3fa9a67037138e5,nova friburgo,b7984401569369a9695e7d3f5c66c4d1,2199.00,116.83,2315.83
111382,847c66c29ee30c07503066b3d254f993,sao mateus do sul,371e25352587a8bf2f77b6739406281d,88.90,23.77,112.67
111383,c8c684d11191f71210df7c6a22115def,brasilia,a072679ac4ac4d56f1aaff9e763836ed,69.00,16.73,85.73
111384,6e9f8d6156d8c37f0e0e6351908de639,sao paulo,3f7029d9b98a47370cd5f3a97adcbccd,61.80,13.79,75.59

In [22]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111385 entries, 0 to 111384
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       111385 non-null  object
 1   customer_city  111385 non-null  object
 2   customer_id    111385 non-null  object
 3   price          111385 non-null  float64
 4   freight_value  111385 non-null  float64
 5   final_price    111385 non-null  float64
dtypes: float64(3), object(3)
memory usage: 5.1+ MB

In [23]:
file['customer_city'].value_counts()

sao paulo                  17547
rio de janeiro              7772
belo horizonte              3114
brasilia                    2372
curitiba                    1733
                           ...
brasilandia                    1
riacho de santo antonio        1
caridade                       1
balbinos                       1
arapua                         1
Name: customer_city, Length: 4097, dtype: int64

In [24]:
file['final_price'].value_counts()

77.57      437
73.34      239
35.00      203
67.50      163
56.78      138
          ...
161.35       1
480.12       1
127.07       1
339.74       1
2315.83      1
Name: final_price, Length: 25346, dtype: int64

In [25]:
file['price'].value_counts()

59.90      2468
69.90      1974
49.90      1929
89.90      1541
99.90      1421
           ...
105.49        1
49.76         1
452.60        1
1326.00       1
370.99        1
Name: price, Length: 5887, dtype: int64

In [29]:
file['freight_value'].isna().sum()

0