In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
payment_df=pd.read_csv("clean/order_peyments.csv")
payment_df

                                order_id  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17          99.33
1       a9810da82917af2d9aefd1278f1dcfa0          24.39
2       25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3       ba78997921bbcdc1373bb41e913ab953         107.78
4       42fdf880ba16b47b59251dd489d4441a         128.45
...                                  ...            ...
103881  0406037ad97740d563a178ecc7a2075c         363.31
103882  7b905861d7c825891d6347454ea7863f          96.80
103883  32609bbb3dd69b3c066a6860554a77bf          47.77
103884  b8b61059626efa996a60be9bb9320e10         369.54
103885  28bbae6599b09d39ca406b747b6632b1         191.58

[103886 rows x 2 columns]

In [3]:
payment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_value  103886 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [5]:
payment_df["payment_value"].eq(0).sum()

9