In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
payment_df=pd.read_csv("clean/order_peyments.csv")
payment_df

                                order_id  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17          99.33
1       a9810da82917af2d9aefd1278f1dcfa0          24.39
2       25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3       ba78997921bbcdc1373bb41e913ab953         107.78
4       42fdf880ba16b47b59251dd489d4441a         128.45
...                                  ...            ...
103881  0406037ad97740d563a178ecc7a2075c         363.31
103882  7b905861d7c825891d6347454ea7863f          96.80
103883  32609bbb3dd69b3c066a6860554a77bf          47.77
103884  b8b61059626efa996a60be9bb9320e10         369.54
103885  28bbae6599b09d39ca406b747b6632b1         191.58

[103886 rows x 2 columns]

In [3]:
payment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       103886 non-null  object
 1   payment_value  103886 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [5]:
payment_df["payment_value"].eq(0).sum()

9

In [2]:
order_df=pd.read_csv("clean/orders_time_date.csv")
order_df

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 12:56:33,2017-10-02 13:07:15,2017-10-04 21:55:00,2017-10-10 23:25:13,2017-10-18 02:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 22:41:37,2018-07-26 05:24:27,2018-07-26 16:31:00,2018-08-07 17:27:45,2018-08-13 02:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 10:38:49,2018-08-08 10:55:23,2018-08-08 15:50:00,2018-08-17 20:06:29,2018-09-04 02:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 20:28:06,2017-11-18 20:45:59,2017-11-22 14:39:59,2017-12-02 01:28:42,2017-12-15 01:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 22:18:39,2018-02-13 23:20:29,2018-02-14 20:46:34,2018-02-16 19:17:02,2018-02-26 01:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 10:54:05,2017-03-09 10:54:05,2017-03-10 12:18:03,2017-03-17 16:08:01,2017-03-28 02:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 13:58:58,2018-02-06 14:10:37,2018-02-08 00:22:42,2018-02-28 18:37:56,2018-03-02 01:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 16:46:43,2017-08-27 17:04:16,2017-08-28 22:52:26,2017-09-21 13:24:17,2017-09-27 02:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 22:28:27,2018-01-08 22:36:21,2018-01-12 16:35:03,2018-01-26 00:32:54,2018-02-15 01:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 21:57:30,2018-03-09 12:20:28,2018-03-09 23:11:59,2018-03-16 14:08:30,2018-04-03 02:00:00

In [4]:
order_df["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)