In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
marketing_df=pd.read_csv("clean/marketing.csv")
marketing_df

                                mql_id          origin
0     dac32acd4db4c29c230538b72f8dd87d          social
1     8c18d1de7f67e60dbd64e3c07d7e9d5d     paid_search
2     b4bc852d233dfefc5131f593b538befa  organic_search
3     6be030b81c75970747525b843c1ef4f8           email
4     5420aad7fec3549a85876ba1c529bd84  organic_search
...                                ...             ...
7995  feaba3ffcd2ff97501696c7f9a42f41c     paid_search
7996  a79cb53cd009ab92e0143b92baa2407b     paid_search
7997  68f049a23ab109c6a0f6989bb9a02994  organic_search
7998  4f8c96e2509b984329044c6682c88ee9  organic_search
7999  8a6492305a5fbcdcdd1a7f5a90764c07  direct_traffic

[8000 rows x 2 columns]

In [3]:
marketing_df["origin"].isna().sum()

60

In [4]:
marketing_df["mql_id"].isna().sum()

0

In [5]:
marketing_df=marketing_df.dropna()
marketing_df

                                mql_id          origin
0     dac32acd4db4c29c230538b72f8dd87d          social
1     8c18d1de7f67e60dbd64e3c07d7e9d5d     paid_search
2     b4bc852d233dfefc5131f593b538befa  organic_search
3     6be030b81c75970747525b843c1ef4f8           email
4     5420aad7fec3549a85876ba1c529bd84  organic_search
...                                ...             ...
7995  feaba3ffcd2ff97501696c7f9a42f41c     paid_search
7996  a79cb53cd009ab92e0143b92baa2407b     paid_search
7997  68f049a23ab109c6a0f6989bb9a02994  organic_search
7998  4f8c96e2509b984329044c6682c88ee9  organic_search
7999  8a6492305a5fbcdcdd1a7f5a90764c07  direct_traffic

[7940 rows x 2 columns]

In [6]:
marketing_df.to_csv("clean_p/marketing.csv")