In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100

In [20]:
file = pd.read_csv('clean/order_customer_item_paid.csv')

In [21]:
file

,order_id,customer_city,customer_id,price,freight_value,final_price
0,f11b36b3bc7bacf06deef862ed611f02,guaruja,ae8db0691449a44352e7d535ddf78c5e,109.90,14.86,124.76
1,0daf1f0e67b534ad873ba61c5d6ad7d3,rio de janeiro,1681471e9172d7e12ba08e9ac9e8628b,135.00,18.20,153.20
2,4a5cc9b4e332e03d76bf553a7f2fa5d3,belford roxo,a4a00c41b5e3ed88bf0e0bb96576c2b2,159.90,16.88,176.78
3,47770eb9100c2d0c44946d9cf07ec65d,vianopolis,41ce2a54c0b03bf3443c3d931a367089,159.90,19.22,179.12
4,5f69f6bf68dce110479aa0bb515b47c8,ribeirao pires,4cd274ce8ba240b1cff6480fa9911df1,30.00,8.72,38.72
...,...,...,...,...,...,...
111380,b73095e1b4a660f696d90a6f5446b58c,cotia,f6f53faac556fb2d6b5f26f80317fe3c,55.99,8.72,64.71
111381,c205abf27ff07fddd3fa9a67037138e5,nova friburgo,b7984401569369a9695e7d3f5c66c4d1,2199.00,116.83,2315.83
111382,847c66c29ee30c07503066b3d254f993,sao mateus do sul,371e25352587a8bf2f77b6739406281d,88.90,23.77,112.67
111383,c8c684d11191f71210df7c6a22115def,brasilia,a072679ac4ac4d56f1aaff9e763836ed,69.00,16.73,85.73
111384,6e9f8d6156d8c37f0e0e6351908de639,sao paulo,3f7029d9b98a47370cd5f3a97adcbccd,61.80,13.79,75.59

In [22]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111385 entries, 0 to 111384
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       111385 non-null  object
 1   customer_city  111385 non-null  object
 2   customer_id    111385 non-null  object
 3   price          111385 non-null  float64
 4   freight_value  111385 non-null  float64
 5   final_price    111385 non-null  float64
dtypes: float64(3), object(3)
memory usage: 5.1+ MB

In [23]:
file['customer_city'].value_counts()

sao paulo                  17547
rio de janeiro              7772
belo horizonte              3114
brasilia                    2372
curitiba                    1733
                           ...
brasilandia                    1
riacho de santo antonio        1
caridade                       1
balbinos                       1
arapua                         1
Name: customer_city, Length: 4097, dtype: int64

In [24]:
file['final_price'].value_counts()

77.57      437
73.34      239
35.00      203
67.50      163
56.78      138
          ...
161.35       1
480.12       1
127.07       1
339.74       1
2315.83      1
Name: final_price, Length: 25346, dtype: int64

In [25]:
file['price'].value_counts()

59.90      2468
69.90      1974
49.90      1929
89.90      1541
99.90      1421
           ...
105.49        1
49.76         1
452.60        1
1326.00       1
370.99        1
Name: price, Length: 5887, dtype: int64

In [29]:
file['freight_value'].isna().sum()

0

In [31]:
file1 = pd.read_csv('clean/order_items.csv')

In [32]:
file1

,order_id,product_id,seller_id,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14
...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79

In [33]:
file1['price'].value_counts()

59.90      2481
69.90      1987
49.90      1953
89.90      1548
99.90      1432
           ...
1369.90       1
108.24        1
1224.99       1
24.52         1
736.00        1
Name: price, Length: 5968, dtype: int64

In [35]:
file['price'].isna().sum()

0

In [36]:
file2 = pd.read_csv('clean/order_reviews.csv')

In [37]:
file2

                               order_id  review_score
0      73fc7af87114b39712e6da79b0a377eb             4
1      a548910a1c6147796b98fdf73dbeba33             5
2      f9e4b658b201a9f2ecdecbb34bed034b             5
3      658677c97b385a9be170737859d3511b             5
4      8e6bfb81e283fa7e4f11123a3fb894f1             5
...                                 ...           ...
99995  22ec9f0669f784db00fa86d035cf8602             5
99996  55d4004744368f5571d1f590031933e4             5
99997  7725825d039fc1f0ceb7635e3f7d9206             4
99998  f8bd3f2000c28c5342fedeb5e50f2e75             1
99999  90531360ecb1eec2a1fbb265a0db0508             1

[100000 rows x 2 columns]

In [39]:
file2['review_score'].value_counts()

5    57420
4    19200
1    11858
3     8287
2     3235
Name: review_score, dtype: int64

In [ ]:
file3 = pd.read_csv('clean/order_reviews.csv')

In [40]:
file4 = pd.read_csv('clean/order_status_year_price.csv')

In [41]:
file4

,order_id,year,product_id,category,total_price
0,e17e4f88e31525f7deef66779844ddce,2018,1e9e8ef04dbcff4541ed26657ea517e5,perfumery\r,18.30
1,5236307716393b7114b53ee991f36956,2018,3aa071139cb16b67ca9e5dea641aaa2f,art\r,265.99
2,01f66e58769f84129811d43eefd187fb,2018,96bd76ec8810374ed1b65e291975717f,sports_leisure\r,87.62
3,143d00a4f2dde4e0364ee1821577adb3,2018,cef67bcfe19066a932b7673e239eb23d,baby\r,121.84
4,86cafb8794cb99a9b1b77fc8e48fbbbb,2018,9dc1a7de274444849c219cff195d0b71,housewares\r,46.19
...,...,...,...,...,...
155024,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,computers_accessories\r,53.18
155025,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,computers_accessories\r,53.18
155026,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,computers_accessories\r,53.18
155027,6e4465d771f02e4fe335225de3c6c043,2018,83808703fc0706a22e264b9d75f04a2e,computers_accessories\r,53.18
155028,f3a47ba087f05d39a74ed1b653f0be1b,2018,106392145fca363410d287a815be6de4,bed_bath_table\r,134.55

In [43]:
file4['category'].value_counts()

bed_bath_table\r                             16197
furniture_decor\r                            14779
health_beauty\r                              12479
computers_accessories\r                      11910
sports_leisure\r                             11216
housewares\r                                 11142
garden_tools\r                                7399
watches_gifts\r                               7195
telephony\r                                   5766
auto\r                                        5536
toys\r                                        4772
cool_stuff\r                                  4369
perfumery\r                                   4152
baby\r                                        3789
electronics\r                                 3413
office_furniture\r                            3378
stationery\r                                  3091
pet_shop\r                                    2612
fashion_bags_accessories\r                    2504
construction_tools_construction\r             1647
consoles_games\r                              1354
luggage_accessories\r                         1243
home_construction\r                           1019
musical_instruments\r                          852
furniture_living_room\r                        839
small_appliances\r                             816
home_appliances\r                              785
drinks\r                                       760
food\r                                         705
books_general_interest\r                       664
home_confort\r                                 599
construction_tools_lights\r                    551
fixed_telephony\r                              470
market_place\r                                 450
food_drink\r                                   449
air_conditioning\r                             427
signaling_and_security\r                       416
audio\r                                        400
kitchen_dining_laundry_garden_furniture\r      373
costruction_tools_garden\r                     366
industry_commerce_and_business\r               354
fashion_shoes\r                                322
agro_industry_and_commerce\r                   318
construction_tools_safety\r                    308
books_technical\r                              285
computers\r                                    265
art\r                                          251
christmas_supplies\r                           251
home_appliances_2\r                            247
fashion_male_clothing\r                        181
fashion_underwear_beach\r                      163
furniture_bedroom\r                            142
costruction_tools_tools\r                      115
cine_photo\r                                    97
tablets_printing_image\r                        94
diapers_and_hygiene\r                           93
fashio_female_clothing\r                        85
small_appliances_home_oven_and_coffee\r         78
dvds_blu_ray\r                                  77
books_imported\r                                75
party_supplies\r                                52
flowers\r                                       48
home_comfort_2\r                                46
fashion_sport\r                                 44
music\r                                         40
furniture_mattress_and_upholstery\r             38
arts_and_craftmanship\r                         28
la_cuisine\r                                    18
cds_dvds_musicals\r                             18
fashion_childrens_clothes\r                     10
security_and_services                            2
Name: category, dtype: int64

In [45]:
file4['total_price'].isna().sum()

0

In [46]:
file5 = pd.read_csv('clean/product_cat_price.csv')

In [47]:
file5

                              product_id                     cat   price
0       1e9e8ef04dbcff4541ed26657ea517e5              perfumaria   10.91
1       3aa071139cb16b67ca9e5dea641aaa2f                   artes  248.00
2       96bd76ec8810374ed1b65e291975717f           esporte_lazer   79.80
3       cef67bcfe19066a932b7673e239eb23d                   bebes  112.30
4       9dc1a7de274444849c219cff195d0b71   utilidades_domesticas   37.90
...                                  ...                     ...     ...
111018  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
111019  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
111020  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
111021  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios   29.90
111022  106392145fca363410d287a815be6de4         cama_mesa_banho  107.50

[111023 rows x 3 columns]

In [49]:
file5['cat'].isna().sum()

0

In [52]:
file5['cat'].isna().sum()

0

In [51]:
file5['price'].value_counts()

59.90     2461
69.90     1978
49.90     1933
89.90     1534
99.90     1419
          ...
637.00       1
185.89       1
849.98       1
30.52        1
107.54       1
Name: price, Length: 5899, dtype: int64

In [53]:
file6 = pd.read_csv('clean/sellers.csv')

In [54]:
file6

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [55]:
file6['seller_state'].isna().sum()

0

In [56]:
file6['seller_city'].isna().sum()

0

In [57]:
file6['seller_state'].value_counts()

SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: seller_state, dtype: int64

In [58]:
file6['seller_city'].value_counts()

sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: seller_city, Length: 611, dtype: int64

In [59]:
file6['seller_zip_code_prefix'].value_counts()

14940    49
13660    10
13920     9
16200     9
87050     8
         ..
83707     1
85065     1
78552     1
3632      1
12051     1
Name: seller_zip_code_prefix, Length: 2246, dtype: int64

In [61]:
file6['seller_zip_code_prefix'].isna().sum()

0