In [12]:
import pandas as pd

df = pd.read_csv('order_peyments.csv')
df

                               order_id  final_payment
0      b81ef226f3fe1789b1e8b2acac839d17          99.33
1      a9810da82917af2d9aefd1278f1dcfa0          24.39
2      25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3      ba78997921bbcdc1373bb41e913ab953         107.78
4      42fdf880ba16b47b59251dd489d4441a         128.45
...                                 ...            ...
99435  0406037ad97740d563a178ecc7a2075c         363.31
99436  7b905861d7c825891d6347454ea7863f          96.80
99437  32609bbb3dd69b3c066a6860554a77bf          47.77
99438  b8b61059626efa996a60be9bb9320e10         369.54
99439  28bbae6599b09d39ca406b747b6632b1         191.58

[99440 rows x 2 columns]

In [19]:
df.isnull().any()

order_id         False
final_payment    False
dtype: bool

In [16]:
df = df.dropna(axis=1)

In [17]:
df

                               order_id  final_payment
0      b81ef226f3fe1789b1e8b2acac839d17          99.33
1      a9810da82917af2d9aefd1278f1dcfa0          24.39
2      25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3      ba78997921bbcdc1373bb41e913ab953         107.78
4      42fdf880ba16b47b59251dd489d4441a         128.45
...                                 ...            ...
99435  0406037ad97740d563a178ecc7a2075c         363.31
99436  7b905861d7c825891d6347454ea7863f          96.80
99437  32609bbb3dd69b3c066a6860554a77bf          47.77
99438  b8b61059626efa996a60be9bb9320e10         369.54
99439  28bbae6599b09d39ca406b747b6632b1         191.58

[99440 rows x 2 columns]